<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>One World Datingx</title>
    <link rel="stylesheet" href="/assets/styles/common.min.css">
</head>
<body>
  <div class="menu">
    <a class="menu__img text-uppercase">Menu</a>
    <nav class="menu__nav">
      <a href="#">ABOUT</a>
      <a href="#">CONTACT</a>
      <a href="#">FAQs</a>
      <a href="#">BLOG</a>
      <a href="#">ONLINE SAFETY</a>
      <a href="#">PRIVACY POLICY</a>
      <a href="#">TERMS OF USE</a>
    </nav>
  </div>
<header>
    <div class="header header__background img_no-repeat">
      <div class="wrapper">
      <a href="#" class="header__logo-img img_no-repeat"></a>
      <h1 class="header__header text-uppercase">Find Someone to Click With</h1>
      <div class="header__get-started-btn-line">
        <div class="header__get-started-btn">
          <a href="#" class="header__get-started-text">
            Get Started
            <span class="header__arrow-down img_no-repeat"></span>
          </a>
        </div>
      </div>
      <div class="square">
        <div class="square__color square__color_pink">
          <span class="square__img square__img-world img_no-repeat"></span>
          <span class="square__box">  <p class="square__string">One World </p>
            </span>
        </div>
        <div class="square__color square__color_red">
          <span class="square__img square__img-hearts img_no-repeat"></span>
          <div class="square__box">
            <p class="square__string">Two Hearts</p>
          </div>
        </div>
        <div class="square__color square__color_orange">
          <span class="square__img square__img-site img_no-repeat"></span>
          <div class="square__box">
            <p class="square__string">One Site</p>
          </div>
        </div>
      </div>
    </div>
    </div>
</header>
<main>
<section>
  <div class="wrapper">
    <div class="section-header">
      <h2 class="section-header__header text-uppercase">
        <span class="section-header__img img_no-repeat"></span>
        Welcome!
      </h2>
      <p class="section-header__string">
        “Love is a promise, love is a souvenir, once given never forgotten,
        never let it disappear.“
      </p>
      <p class="section-header__author">- John Lennon</p>
    </div>
    <div class="section-background"></div>
    <form class="form-sign-up" action="index.html" method="post">
      <h3 class="form-sign-up__header" text-uppercase>It's free to join</h3>
      <a href="#" class="form-sign-up__facebook text-uppercase">
        <span class="form-sign-up__facebook-img img_no-repeat"></span>
        Sign up with Facebook
      </a>
      <span class="form-sign-up__line"></span>
      <h4 class="form-sign-up__text-between-line">OR</h4>
      <span class="form-sign-up__line"></span>
      <input type="email" name="email" placeholder="Email">
      <input type="text" name="name" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="confirm password" placeholder="Password">
      <a href="#" class="form-sign-up__sign-up-btn text-uppercase">Let's go</a>
    </form>
    <div class="section-background"></div>
  </div>
</section>
<section>
  <div class="wrapper">
    <div class="get-started">
      <h2 class="get-started__header text-uppercase">Join now</h2>
      <h3 class="get-started__header">It's free!</h3>
      <a href="#" class="get-started__btn"></a>
    </div>
  </div>
</section>
</main>
<footer>
  <div class="wrapper">
    <form class="footer-subscribe-form" action="index.html" method="post">
      <label for="footer-subscribe-form__input">Sign up for our newsletter</label>
      <input type="email" name="subscribe" placeholder="Email Address">
      <a href="#" type="subscribe" class="text-uppercase">Subscribe</a>
    </form>
    <nav class="menu-nav">
      <a href="#">ABOUT</a>
      <a href="#">CONTACT</a>
      <a href="#">FAQs</a>
      <a href="#">BLOG</a>
      <a href="#">ONLINE SAFETY</a>
      <a href="#">PRIVACY POLICY</a>
      <a href="#">TERMS OF USE</a>
    </nav>
    <div class="flags">

    </div>
    <div class="copyrlite">
      <div class="private__footer-line"></div>
      <p class="private__text">
        © 2017 All World Dating Enterprise Company LLC. All rights reserved.
        We pledge never to share or sell your Email Address.
      </p>
    </div>
  </div>

</footer>
</body>
</html>
